:root {
  --primary-color: rgba(40, 112, 58, 0.733);
  --primary-border: rgb(40, 105, 58);
  --secondary-color: rgb(46, 43, 43);
  --tertiary-color: rgb(47, 48, 47);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--secondary-color);
}
/* HEADER */
.header {
  background-color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border: 20px solid var(--primary-border);
}
.header h1 {
  margin: 0 auto 0 auto;
  padding: 0 70px 0 70px;
  border: 10px solid var(--secondary-color);
  border-radius: 15px;
}
.header h1 a {
  font-size: 80px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
}
.header nav {
  width: 45%;
  margin: auto 0 auto 0;
  margin-left: 30px;
}
.header ul {
  width: 80%;
  display: flex;
  margin-left: 30px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}
.header li {
  margin-right: 70px;
}
.header nav a {
  font-size: 40px;
  text-decoration: none;
  color: var(--tertiary-color);
  font-weight: bold;
}
.header h1 a:hover {
  font-size: 83px;
}
.header nav a:hover {
  font-size: 45px;
  background-color: var(--primary-color);
  border: 10px solid var(--primary-border);
  border-radius: 15px;
}
/* MAIN */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}

/* ABOUT */
.about {
  flex-basis: 25%;
  background-color: var(--primary-color);
  border: 20px solid var(--primary-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}
.about h2 {
  margin-top: 30px;
  font-size: 50px;
  color: var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
}
.about img {
  display: block;
  width: 80%;
  margin-top: 30px;
  border: 15px solid var(--secondary-color);
}
.about-info {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
}

/* PROJECTS */
#projects {
  flex-basis: 69%;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--primary-color);
  border: 20px solid var(--primary-border);
}
#projects h2 {
  width: 30%;
  margin: 30px auto 0 auto;
  text-align: center;
  font-size: 70px;
  color: var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
}
.projects-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: var(--secondary-color);
}
.projects-all h3 {
  font-size: 50px;
  border-bottom: 3px solid var(--secondary-color);
}
.projects-all .first-row {
  text-align: center;
  width: 30%;
  margin: 30px auto 0 auto;
}
.projects-all .second-row {
  display: flex;
  height: 50%;
  /* justify-content: space-between; */
}
.projects-all .second-row article {
  flex: 1;
  text-align: center;
}
.projects-all .second-row h3 {
  width: 60%;
  margin: 20px auto 0 auto;
}

.projects-all .third-row {
  display: flex;
  height: 70%;
  /* justify-content: space-between; */
}
.projects-all .third-row h3 {
  width: 60%;
  margin: 20px auto 0 auto;
}
.projects-all .third-row article {
  flex: 1;
  text-align: center;
}

.footer {
  background-color: var(--primary-color);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border: 20px solid var(--primary-border);
  margin-top: 100px;
  color: var(--secondary-color);
}
.footer h1 {
  flex: 0.7;
  height: 100%;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 90px;
  margin-left: 20px;
  border-bottom: 5px solid var(--secondary-color);
}
.footer p {
  width: 80%;
}
.mailing {
  flex: 1;
}
.mailing p:nth-child(1) {
  border-bottom: 3px solid var(--secondary-color);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.mailing p:nth-child(2) {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
.email {
  flex: 1;
}
.email p:nth-child(1) {
  border-bottom: 3px solid var(--secondary-color);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.email p:nth-child(2) {
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
}
.links {
  flex: 1;
}
.links p:nth-child(1) {
  border-bottom: 3px solid var(--secondary-color);
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}
.links p:nth-child(2) {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.links a {
  color: var(--secondary-color);
  font-size: 22px;
}
